.container{
    height: 400px;
    width: 400px;
    border: solid 2px rgb(8, 197, 175);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    align-items: center;
}
.item{
    height: 100px;
    width: 100px;
    border: solid 2px rgb(0, 0, 0);
    background-color: grey;
    color: rgb(0, 0, 0);
    font-size: 50px;
    border-radius: 10px;
    text-align: center;
}
.navbar{
    height:50px;
    width:900px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid seagreen;
    background-color: pink;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box{
    height: 600px;
    
    background-color: pink;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    grid-gap: 10px;
    
}
#header{
    grid-column: 1/13;
    background-color: bisque;
    
}
#sidebar{
    grid-column: 1/4;
    grid-row: 2/12;
    background-color: aqua;
}
#navigation{
    grid-column: 4/9;
    background-color: blue;
}
#ads{
    grid-column: 9/13;
    grid-row: 2/12;
    background-color: blueviolet;
}
#main{
    grid-column: 4/9;
    grid-row: 3/12;
    background-color: brown;
}
#footer{
    grid-column: 1/13;
    
    background-color: chartreuse;
    
}
.loader{
    border:16px solid #000000;
    border-top:16px solid rgb(146, 0, 250);
    border-radius:50%;
    width:120px;
    height:120px;
    animation:spin 2s linear infinite;
    -webkit-animation:spin 2s linear infinite;
}
    @keyframes spin{
        0% {
            transform: rotate(0deg);
            -webkit-transform: rotate(0deg);
            -moz-transform: rotate(0deg);
            -ms-transform: rotate(0deg);
            -o-transform: rotate(0deg);
}
        100%{
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
            -moz-transform: rotate(360deg);
            -ms-transform: rotate(360deg);
            -o-transform: rotate(360deg);
}}
/* Qs1. Add a 2s transition on box1 for width changes.
       It should have 'ease-in' speed curve & 0.5s delay  */

       #box1 {
        width: 100px;
        height: 100px;
        background: green;
        transition: width 2s ease-in 0.5s;
        -webkit-transition: width 2s ease-in 0.5s;
        -moz-transition: width 2s ease-in 0.5s;
        -ms-transition: width 2s ease-in 0.5s;
        -o-transition: width 2s ease-in 0.5s;
}
      
      #box1:hover {
        width: 600px;
      }
      
      /* Qs2. Using transform, move box2 200px to the right  & 
              200px down. Also rotate it 90deg.*/
      
      #box2 {
        width: 100px;
        height: 100px;
        background: red;
        transform: translate(200px,200px) rotate(90deg);
        -webkit-transform: translate(200px,200px) rotate(90deg);
        -moz-transform: translate(200px,200px) rotate(90deg);
        -ms-transform: translate(200px,200px) rotate(90deg);
        -o-transform: translate(200px,200px) rotate(90deg);
}
      
      /* Qs3. Using transform, skew box3 20deg along the x axis.*/
      
      #box3 {
        width: 100px;
        height: 100px;
        background: lightblue;
        transform: skewX(20deg);
        -webkit-transform: skewX(20deg);
        -moz-transform: skewX(20deg);
        -ms-transform: skewX(20deg);
        -o-transform: skewX(20deg);
}
      
      /* Qs4. Set a 2px horizontal & 2px vertical, green shadow 
              for box4, with a 5px blur radius.*/
      
      #box4 {
        width: 100px;
        height: 100px;
        background: lightgreen;
        box-shadow: 10px 10px 5px green;
      }
      
      /* Qs5. Set Your picture or any picture as the background of the div
              "myPic". Also, set transparency of this div to 50%. */
      
      #myPic {
        width: 200px;
        height: 200px;
        background: pink;
        background-image: url("LMC_20230703_164951_📸 DSLR COLOUR King✨ R13 by Rifat .PORTRAIT.jpg");
        background-size: cover;
    
        

      }